PUBLIC_MQTT_HOST=
PUBLIC_MQTT_PORT=8884
PUBLIC_MQTT_PATH=/mqtt
PUBLIC_MQTT_USE_SSL=true
PUBLIC_MQTT_USERNAME=
PUBLIC_MQTT_PASSWORD=
PUBLIC_MQTT_COMMAND_TOPIC=water-system/cmd
PUBLIC_MQTT_STATUS_TOPIC=water-system/status
PUBLIC_MQTT_CLIENT_ID_PREFIX=water-pwa
